.App {
  text-align: center;
  display: grid | inline-grid;
}
.filter {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.buttoncontainer {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
} 
 .loading {
  margin: auto;
  width: 50%;
  padding: 10px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}